{% include "includes/header.html" %}
{% load static %}

<div class="container">
    <h2 class="mb-4">Atelier Pratique – Classification avec Arbre de Décision</h2>

    <div class="row">
        <div class="col-md-6">
            <h3>Dataset Santé</h3>
            <p>
                Dans cet atelier, nous allons entraîner un <strong>arbre de décision</strong> pour prédire
                l’état de santé général (<strong>genhlth</strong>) d'une personne en fonction de plusieurs facteurs :
            </p>

            <ul>
                <li>exerany : pratique du sport</li>
                <li>hlthplan : couverture santé</li>
                <li>smoke100 : a fumé plus de 100 cigarettes</li>
                <li>height : taille (inches/cm selon dataset)</li>
                <li>weight : poids</li>
                <li>age : âge</li>
                <li>gender : sexe (0 = Femme, 1 = Homme)</li>
            </ul>

            <p>
                Le modèle entraîné est sauvegardé et pourra être utilisé lorsque l’utilisateur saisira
                ses propres données dans un formulaire, puis cliquera sur
                <strong>"Tester le modèle"</strong>.
            </p>
        </div>

        <div class="col-md-6">
            <img src="{% static 'images/camion.jpg' %}" width="400">
            <img src="{% static 'images/touristique.jpg' %}" width="400">
        </div>
    </div>

    <div>
        <a class="btn btn-success col-12 mt-2 mb-2" href="{% url 'arbre_decision_tester' %}">Tester le modèle</a>
    </div>

    <iframe src="{% static 'pdfs/course_demonstration.pdf' %}"
            width="100%"
            height="600px"
            style="border:1px solid #ccc;">
        Ce navigateur ne supporte pas les PDFs. veuillez le télécharger :)
        <a href="{% static 'pdfs/course_demonstration.pdf' %}">Télécharger PDF</a>
    </iframe>

</div>

{% include "includes/footer.html" %}